body {
  padding-top: 2em;
  margin-top: 2em;
}

.jumbotron {
	background: url('../images/bg.jpg');
}

footer {
	background: url('../images/bg.jpg');
	height: 3em;
	text-align: center;
	margin-top: 2.25em;
	padding-top: 0.75em;
	overflow: auto;
}
